@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,700");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
*/
/* line 5, ../sass/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Source Sans Pro", sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, ../sass/base/_reset.scss */
body {
  line-height: 1; }

/* line 34, ../sass/base/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, ../sass/base/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 40, ../sass/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, ../sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Makes border-box properties */
/* line 18, ../sass/components/_grid.scss */
* {
  box-sizing: border-box; }

/* line 26, ../sass/components/_grid.scss */
.container {
  max-width: 71.25rem;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../bower_components/susy/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both; }

/* line 2, ../sass/base/_mixins.scss */
header:after, section:after {
  content: "";
  display: table;
  clear: both; }

/* line 35, ../sass/components/_grid.scss */
.gallery {
  margin: 0; }
  /* line 2, ../sass/base/_mixins.scss */
  .gallery:after {
    content: "";
    display: table;
    clear: both; }

/* line 40, ../sass/components/_grid.scss */
.gallery__item {
  width: 49.15254%;
  float: left;
  height: 8rem;
  margin-bottom: 1.69492%; }
  /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
  .gallery__item:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
  .gallery__item:nth-child(2n + 2) {
    margin-left: 50.84746%;
    margin-right: -100%;
    clear: none; }
  /* line 45, ../sass/components/_grid.scss */
  .gallery__item:nth-last-child(-n+2) {
    margin-bottom: 0; }
  @media (min-width: 40rem) {
    /* line 40, ../sass/components/_grid.scss */
    .gallery__item {
      width: 32.20339%;
      float: left; }
      /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
      .gallery__item:nth-child(3n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
      .gallery__item:nth-child(3n + 2) {
        margin-left: 33.89831%;
        margin-right: -100%;
        clear: none; }
      /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
      .gallery__item:nth-child(3n + 3) {
        margin-left: 67.79661%;
        margin-right: -100%;
        clear: none; }
      /* line 52, ../sass/components/_grid.scss */
      .gallery__item:nth-last-child(-n+3) {
        margin-bottom: 0; } }
  @media (min-width: 64rem) {
    /* line 40, ../sass/components/_grid.scss */
    .gallery__item {
      width: 23.72881%;
      float: left; }
      /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
      .gallery__item:nth-child(4n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
      .gallery__item:nth-child(4n + 2) {
        margin-left: 25.42373%;
        margin-right: -100%;
        clear: none; }
      /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
      .gallery__item:nth-child(4n + 3) {
        margin-left: 50.84746%;
        margin-right: -100%;
        clear: none; }
      /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
      .gallery__item:nth-child(4n + 4) {
        margin-left: 76.27119%;
        margin-right: -100%;
        clear: none; }
      /* line 60, ../sass/components/_grid.scss */
      .gallery__item:nth-last-child(-n+4) {
        margin-bottom: 0; } }

/* line 66, ../sass/components/_grid.scss */
footer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 4rem; }

/* line 71, ../sass/components/_grid.scss */
.outline {
  display: block;
  margin: 1.69492% 0;
  font-family: Lato, sans-serif;
  text-decoration: none;
  text-align: center; }
  /* line 78, ../sass/components/_grid.scss */
  .outline:hover {
    text-decoration: underline; }

/* line 85, ../sass/components/_grid.scss */
.header {
  height: 90vh;
  background-color: #4F3083;
  color: #ffffff; }

/* line 90, ../sass/components/_grid.scss */
.nav {
  padding-top: 60px; }
  /* line 92, ../sass/components/_grid.scss */
  .nav .nav__logo {
    float: left; }
    /* line 94, ../sass/components/_grid.scss */
    .nav .nav__logo img {
      display: block;
      height: 48px; }
  /* line 99, ../sass/components/_grid.scss */
  .nav .nav__menu {
    float: right; }
    /* line 102, ../sass/components/_grid.scss */
    .nav .nav__menu ul > li {
      display: inline-block; }
      /* line 104, ../sass/components/_grid.scss */
      .nav .nav__menu ul > li a {
        color: #ffffff; }

/* line 112, ../sass/components/_grid.scss */
.howdy {
  position: relative; }
  /* line 114, ../sass/components/_grid.scss */
  .howdy .illustration {
    width: 100%;
    display: block; }
    /* line 117, ../sass/components/_grid.scss */
    .howdy .illustration .illustration__boy {
      overflow: hidden; }
      /* line 119, ../sass/components/_grid.scss */
      .howdy .illustration .illustration__boy img {
        margin-left: -40%;
        height: 60%; }
  /* line 125, ../sass/components/_grid.scss */
  .howdy .htxt-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%; }
    /* line 130, ../sass/components/_grid.scss */
    .howdy .htxt-box .htxt-box__wrap {
      margin-left: 50.84746%; }
      /* line 132, ../sass/components/_grid.scss */
      .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content {
        padding-left: 20px;
        margin-top: 80px; }
        /* line 135, ../sass/components/_grid.scss */
        .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content h2 {
          font-family: "Montserrat", sans-serif;
          font-size: 54px;
          color: #FCB02F;
          font-weight: 700;
          letter-spacing: -1px;
          margin-bottom: 5px; }
        /* line 143, ../sass/components/_grid.scss */
        .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content h3 {
          font-family: "Montserrat", sans-serif;
          font-size: 32px;
          font-weight: 700; }
        /* line 148, ../sass/components/_grid.scss */
        .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content p {
          margin-top: 15px;
          margin-bottom: 15px;
          max-width: 320px;
          font-family: "Source Sans Pro", sans-serif;
          font-weight: 300;
          font-size: 20px;
          line-height: 28px;
          opacity: 0.8; }
        /* line 159, ../sass/components/_grid.scss */
        .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content .hbtn-link .btn {
          border-radius: 6px;
          font-family: "Source Sans Pro", sans-serif;
          font-weight: 300;
          text-decoration: none;
          border: 1px solid transparent;
          font-size: 18px;
          line-height: 18px;
          padding: 12px 22px;
          display: inline-block; }
          /* line 169, ../sass/components/_grid.scss */
          .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content .hbtn-link .btn.btn__know {
            background-color: transparent;
            color: #ffffff;
            border-color: #ffffff;
            margin-right: 10px; }
          /* line 175, ../sass/components/_grid.scss */
          .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content .hbtn-link .btn.btn__hire {
            background-color: #e60a6f;
            color: #ffffff;
            border-color: #e60a6f; }
        /* line 181, ../sass/components/_grid.scss */
        .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content .hsm-link {
          margin-top: 25px; }
          /* line 183, ../sass/components/_grid.scss */
          .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content .hsm-link a {
            font-size: 22px;
            text-decoration: none;
            display: inline-block;
            color: #ffffff;
            margin-right: 12px;
            opacity: 0.3;
            transition: all ease 0.3s; }
            /* line 191, ../sass/components/_grid.scss */
            .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content .hsm-link a:hover {
              opacity: 1; }
