/* Makes border-box properties */

/* Global Settings */
/* --------------- */
:root {
  // settings
  
  --gutter: 0.5rem;
  --columns: 2;
}


* {
  // span/width do not inherit
  --span: initial;

  // only applied when `span` is defined and valid
  --width: calc(var(--span) / var(--columns) * 100%);
  box-sizing: border-box;
}


$susy: (
'columns': susy-repeat(12),
'gutters': 0,
'spread': 'narrow',
// 'svg-grid-colors': hsl(180, 50%, 80%),
'container-spread': 'narrow',
'column-width': 600px,
);


// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px
$max-width: 1920px;

body{
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

header, section {
  @include clearfix;
}

.main-wrap{
  max-width: $max_container_width;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 36px;
}

.home-wrap{
  width: 100%;
  margin: 0;
}

%container {
  overflow: hidden;
}

.info-container{
  @extend %container;
  background: $color_blue;
  color: $color_white;
  position: relative;
  width: 100%;
  height: 100vh;
  @media (max-width: 426px){
    height: 130vh;
  }
  .info-wrap{
    height: 100%;
    flex-direction: column-reverse;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: span(12);
    @media (max-width: 426px){
      min-height: 130vh;
    }
    .info-wrap__aside{
      padding: 36px 24px;
      .info-wrap__aside-header{
        .bio{
          .bio_tags{
            color: $color_pink;
            font-family: $font-family-titling-fb-wide;
            font-weight: 300;
            font-size: 18px;
            margin-bottom: 24px;
            @media (min-width: 426px){
              font-size: 16px;
              margin-bottom: 32px;
            }
          }
          .bio_iam-ironman{
            color: $color_white;
            font-weight: $font-weight-semibold;
            font-size: 30px;
            margin-bottom: 20px;
            @media (min-width: 426px){
              font-size: 36px;
              margin-bottom: 24px;
            }
          }
          .bio_para{
            font-size: 14px;
            font-weight: 200;
            color: $color_white;
            line-height: 150%;
            margin-bottom: 24px;
            .link_bio{
              text-decoration: none;
              font-weight: 300;
              display: inline-block;
              color: $color_white;
              &:hover{
                color: $color_white;
                border-color: transparent;
                text-decoration: underline;
              }
            }
            @media (min-width: 426px){
              font-size: 18px;
              margin-bottom: 32px;
              .link_bio{
              }
            }
          }
          .bio_btn{
            margin: 50px 0;
            a{
              display: inline-block;
              font-size: 10px;
              text-transform: uppercase;
              letter-spacing: 2px;
              color: $color_white;
              margin-right: 20px;
              text-decoration: none;
              padding: 16px 20px;
              border-radius: 6px;
              margin-bottom: 12px;
            }
            .bio_btn-know{
              // background-color: darken($color_blue,5%);
              border: 1px solid lighten($color_blue,8%);

              &:hover{
                text-decoration: none;
                background: darken($color_blue,3%);
                border-color: lighten($color_blue, 10%);
              }
            }
            .bio_btn-say-hi{
              background-color: $color_pink;
              border: 1px solid $color_pink;
              &:hover{
                background: lighten($color_pink,4%);
              }
            }
          }
          .bio_social-link{
            ul{
              >li{
                display: inline-block;
                margin-right: 12px;
                margin-bottom: 12px;
                a{
                  font-family: $font-family-titling-fb-regular;
                  font-weight: 200;
                  display: block;
                  text-decoration: none;
                  color: $color_white;
                  padding: 12px;
                  @media (min-width: 426px){
                    padding: 18px;
                  }
                  img{
                     max-height:24px;
                     display: block;
                  }
                  &:hover{
                    opacity: 0.8;
                    background: darken($color_blue, 4%);
                    border-radius: 50%;
                  }
                  &.say-hi{
                  }
                }
              }
            }
          }
          .logos-container{
            margin: 20px 0;
            height: auto;
            position: relative;
            .logos-company{
              .logos-company--desk{
                width: 100%;
                opacity: 0.2;
                display: none;
                @media (min-width: 426px){
                  display: block;
                }
              }
              .logos-company--mob{
                width: 100%;
                opacity: 0.2;
                display: block;
                @media (min-width: 426px){
                  display: none;
                }
              }
            }
          }
        }

      }
    }
    .info-wrap__media{
      background-color: $color_white;
      font-size: 0;
      height: auto;
      flex-grow: 1;
      position: relative;
      .info-wrap__media-container{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .avatar_img{
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          .avatar_img--cover{
            height: 100%;
            width: 130%;
            max-width: 130%;
            margin-left: -25%;
            object-fit: cover;
            object-position: center center;
            @media (min-width: 426px){
              width: 100%;
              margin-left: 0;
            }
          }
        }
      }
    }
  }


  // Media query
  @media (min-width: 801px) {
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    .info-wrap{
      min-height: auto;
      flex-direction: row;
      .info-wrap__aside{
        padding: 0;
        width: 100%;
        height: 100%;
        max-width: $max-width;
        margin: 0 auto;
        .info-wrap__aside-header{
          width: span(6);
          .bio{
            margin-left: 12%;
            margin-right: 8%;
            .bio_tags{

            }
            .bio_iam-ironman{

            }
            .bio_para{

            }
            .bio_btn{

            }
            .bio_social-link{

            }
          }
        }
      }
      .info-wrap__media{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: span(6);
      }
    }
  }

  // 1025
  // Media query
  @media (min-width: 1025px) {
    .info-wrap{
      .info-wrap__aside{
        .info-wrap__aside-header{
          width: span(6);
          .bio{
            margin-left: 180px;
            margin-right: 50px;
            .bio_tags{
              font-size: 24px;
            }
            .bio_iam-ironman{
              font-size: 36px;
            }
            .bio_para{
              font-size: 20px;
            }
            .bio_btn{

            }
            .bio_social-link{

            }
          }
        }
      }
      .info-wrap__media{

      }
    }
  }

  // 1600px
  // Media query
  @media (min-width: 1600px) {
    .info-wrap{
      .info-wrap__aside{
        .info-wrap__aside-header{
          width: span(6);
          .bio{
            margin-right: 100px;
            .bio_tags{
              font-size: 28px;
            }
            .bio_iam-ironman{
              font-size: 50px;
            }
            .bio_para{
              font-size: 24px;
              .link_bio{
                // line-height:20px;
              }
            }
            .bio_btn{

            }
            .bio_social-link{

            }
          }
        }
      }
      .info-wrap__media{

      }
    }
  }
}
