@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin background-color($color) {
  background-color: $color;
  @if (lightness($color) > 50) {
    color: $color_bold_black;
  } @else {
    color: $color_white;
  }
}
