// Colors
$primary_bg                  : #F4F6FA;
$primary_dark                : #373C46;
$primary_grey                : #9DA6BA;
$primary_blue                : #6C63FF;
$primary_pink                : #F8A4D8;
$color_white                 : #ffffff;
$color_footer_black          : #4B4F56;
$font_poppins                : 'Poppins', sans-serif;
$font_open_sans              : 'Open Sans', sans-serif;

// sizes

$max_container_width         : 75.0rem;
