// Colors
$color_primary_blue          : #4F3083;
$color_primary_pink          : #FCB02F;
$color_primary_yellow        : #FCB02F;
$color_bold_black            : #2A2A2A;
$color_white                 : #ffffff;
$font_source_sans            : 'Source Sans Pro', sans-serif;
$font_montserrat             : 'Montserrat', sans-serif;
