// Colors
$color_primary_blue          : #4F3083;
$color_primary_pink          : #e60a6f;
$color_primary_yellow        : #FCB02F;
$color_bold_black            : #2A2A2A;
$color_gray                  : #F7F7F7;
$color_white                 : #ffffff;
$color_footer_black          : #4B4F56;
$font_montserrat             : 'Montserrat', sans-serif;
$font_open_sans              : 'Open Sans', sans-serif;
