$color_white        : #ffffff;
$color_milk         : #C0D3FF;
$color_star         : #74B9E1;
$color_black        : #15151A;
$color_grey         : #3F3F44;
$color_blue         : #03176A;
$color_pink         : #FF465D;
$color_voilet       : #8F62CB;
$color_sky          : #43AED0;
$color_mint         : #A3E0DB;
$color_lime         : #96D6B6;
$color_redd         : #D67367;
$color_orange       : #E1AF89;
$color_yellow       : #E7D18E;


$font_family       : $font-family-titling-fb-regular;

$max_container_width         : 75.0rem;
