@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
*/
/* line 5, ../sass/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Open Sans", sans-serif;
  vertical-align: baseline;
  transition: all ease 0.2s; }

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 32, ../sass/base/_reset.scss */
body {
  line-height: 1;
  background-color: #F7F7F7; }

/* line 36, ../sass/base/_reset.scss */
ol, ul {
  list-style: none; }

/* line 39, ../sass/base/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 42, ../sass/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 47, ../sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 52, ../sass/base/_reset.scss */
strong {
  font-weight: bold; }

/* line 56, ../sass/base/_reset.scss */
.shide {
  display: none; }

/* Makes border-box properties */
/* line 18, ../sass/components/_grid.scss */
* {
  box-sizing: border-box; }

/* line 26, ../sass/components/_grid.scss */
.container {
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../bower_components/susy/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both; }

/* line 2, ../sass/base/_mixins.scss */
header:after, section:after {
  content: "";
  display: table;
  clear: both; }

/* line 34, ../sass/components/_grid.scss */
.box {
  z-index: 999; }
  /* line 2, ../sass/base/_mixins.scss */
  .box:after {
    content: "";
    display: table;
    clear: both; }
  /* line 37, ../sass/components/_grid.scss */
  .box .box-4 {
    width: 32.20339%;
    float: left; }
    /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
    .box .box-4:nth-child(3n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
    .box .box-4:nth-child(3n + 2) {
      margin-left: 33.89831%;
      margin-right: -100%;
      clear: none; }
    /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
    .box .box-4:nth-child(3n + 3) {
      margin-left: 67.79661%;
      margin-right: -100%;
      clear: none; }

/* line 43, ../sass/components/_grid.scss */
.gallery {
  margin: 0; }
  /* line 2, ../sass/base/_mixins.scss */
  .gallery:after {
    content: "";
    display: table;
    clear: both; }

/* line 48, ../sass/components/_grid.scss */
.gallery__item {
  width: 49.15254%;
  float: left;
  height: 8rem;
  margin-bottom: 1.69492%; }
  /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
  .gallery__item:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
  .gallery__item:nth-child(2n + 2) {
    margin-left: 50.84746%;
    margin-right: -100%;
    clear: none; }
  /* line 53, ../sass/components/_grid.scss */
  .gallery__item:nth-last-child(-n+2) {
    margin-bottom: 0; }
  @media (min-width: 40rem) {
    /* line 48, ../sass/components/_grid.scss */
    .gallery__item {
      width: 32.20339%;
      float: left; }
      /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
      .gallery__item:nth-child(3n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
      .gallery__item:nth-child(3n + 2) {
        margin-left: 33.89831%;
        margin-right: -100%;
        clear: none; }
      /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
      .gallery__item:nth-child(3n + 3) {
        margin-left: 67.79661%;
        margin-right: -100%;
        clear: none; }
      /* line 60, ../sass/components/_grid.scss */
      .gallery__item:nth-last-child(-n+3) {
        margin-bottom: 0; } }
  @media (min-width: 64rem) {
    /* line 48, ../sass/components/_grid.scss */
    .gallery__item {
      width: 23.72881%;
      float: left; }
      /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
      .gallery__item:nth-child(4n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
      .gallery__item:nth-child(4n + 2) {
        margin-left: 25.42373%;
        margin-right: -100%;
        clear: none; }
      /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
      .gallery__item:nth-child(4n + 3) {
        margin-left: 50.84746%;
        margin-right: -100%;
        clear: none; }
      /* line 66, ../bower_components/susy/sass/susy/language/susy/_gallery.scss */
      .gallery__item:nth-child(4n + 4) {
        margin-left: 76.27119%;
        margin-right: -100%;
        clear: none; }
      /* line 68, ../sass/components/_grid.scss */
      .gallery__item:nth-last-child(-n+4) {
        margin-bottom: 0; } }

/* line 74, ../sass/components/_grid.scss */
footer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 4rem; }

/* line 79, ../sass/components/_grid.scss */
.outline {
  display: block;
  margin: 1.69492% 0;
  font-family: Lato, sans-serif;
  text-decoration: none;
  text-align: center; }
  /* line 86, ../sass/components/_grid.scss */
  .outline:hover {
    text-decoration: underline; }

/* line 93, ../sass/components/_grid.scss */
.header {
  background-color: #4F3083;
  color: #ffffff; }

/* line 97, ../sass/components/_grid.scss */
.nav {
  padding-top: 60px; }
  /* line 99, ../sass/components/_grid.scss */
  .nav .nav__logo {
    float: left; }
    /* line 101, ../sass/components/_grid.scss */
    .nav .nav__logo img {
      display: block;
      height: 48px; }
  /* line 106, ../sass/components/_grid.scss */
  .nav .nav__menu {
    float: right; }
    /* line 109, ../sass/components/_grid.scss */
    .nav .nav__menu ul > li {
      display: inline-block;
      padding: 14px 12px; }
      /* line 112, ../sass/components/_grid.scss */
      .nav .nav__menu ul > li a {
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        display: block;
        line-height: 20px;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #B9ADCD;
        border-bottom: 2px solid transparent; }
        /* line 123, ../sass/components/_grid.scss */
        .nav .nav__menu ul > li a:hover {
          border-bottom: 2px solid #FCB02F;
          color: #ffffff; }
      /* line 128, ../sass/components/_grid.scss */
      .nav .nav__menu ul > li:last-child {
        padding-right: 0; }

/* line 136, ../sass/components/_grid.scss */
.howdy {
  position: relative; }
  /* line 138, ../sass/components/_grid.scss */
  .howdy .illustration {
    width: 100%;
    display: block; }
    /* line 141, ../sass/components/_grid.scss */
    .howdy .illustration .illustration__boy {
      overflow: hidden; }
      /* line 143, ../sass/components/_grid.scss */
      .howdy .illustration .illustration__boy img {
        margin-left: -40%;
        height: 60%;
        display: block; }
  /* line 150, ../sass/components/_grid.scss */
  .howdy .htxt-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%; }
    /* line 155, ../sass/components/_grid.scss */
    .howdy .htxt-box .htxt-box__wrap {
      margin-left: 50.84746%; }
      /* line 157, ../sass/components/_grid.scss */
      .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content {
        padding-left: 20px;
        margin-top: 60px; }
        /* line 160, ../sass/components/_grid.scss */
        .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content h2 {
          font-family: "Montserrat", sans-serif;
          font-size: 60px;
          color: #FCB02F;
          font-weight: 700;
          letter-spacing: -1px;
          margin-bottom: 5px; }
        /* line 168, ../sass/components/_grid.scss */
        .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content h3 {
          font-family: "Montserrat", sans-serif;
          font-size: 36px;
          font-weight: 700; }
        /* line 173, ../sass/components/_grid.scss */
        .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content p {
          margin-top: 12px;
          margin-bottom: 25px;
          max-width: 320px;
          font-family: "Open Sans", sans-serif;
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          color: #B9ADCD; }
          /* line 182, ../sass/components/_grid.scss */
          .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content p span {
            font-weight: 500;
            color: #FCB02F;
            border-bottom: 1px dotted #FCB02F; }
        /* line 189, ../sass/components/_grid.scss */
        .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content .hbtn-link {
          margin-top: 10px; }
          /* line 191, ../sass/components/_grid.scss */
          .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content .hbtn-link .btn {
            border-radius: 4px;
            font-family: "Open Sans", sans-serif;
            text-decoration: none;
            font-size: 15px;
            line-height: 15px;
            font-weight: 400;
            padding: 16px 32px;
            display: inline-block;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
            transition: all ease 0.2s; }
            /* line 202, ../sass/components/_grid.scss */
            .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content .hbtn-link .btn.btn__know {
              background-color: #ffffff;
              color: #4F3083;
              margin-right: 16px; }
              /* line 206, ../sass/components/_grid.scss */
              .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content .hbtn-link .btn.btn__know:hover {
                background-color: #e6e6e6; }
            /* line 210, ../sass/components/_grid.scss */
            .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content .hbtn-link .btn.btn__hire {
              background-color: #e60a6f;
              color: #ffffff; }
              /* line 212, ../sass/components/_grid.scss */
              .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content .hbtn-link .btn.btn__hire:hover {
                background-color: #ce0963; }
            /* line 216, ../sass/components/_grid.scss */
            .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content .hbtn-link .btn:hover {
              webkit-transform: translate3d(0, -1px, 0);
              -moz-transform: translate3d(0, -1px, 0);
              -ms-transform: translate3d(0, -1px, 0);
              -o-transform: translate3d(0, -1px, 0);
              transform: translate3d(0, -1px, 0); }
        /* line 225, ../sass/components/_grid.scss */
        .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content .hsm-link {
          margin-top: 25px; }
          /* line 227, ../sass/components/_grid.scss */
          .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content .hsm-link a {
            font-size: 22px;
            text-decoration: none;
            display: inline-block;
            color: #ffffff;
            margin-right: 12px;
            opacity: 0.3;
            transition: all ease 0.3s; }
            /* line 235, ../sass/components/_grid.scss */
            .howdy .htxt-box .htxt-box__wrap .htxt-box__wrap_content .hsm-link a:hover {
              opacity: 1; }

/* line 1, ../sass/components/_sections.scss */
section {
  position: relative; }

/* line 4, ../sass/components/_sections.scss */
.footer {
  display: block;
  width: 100%; }

/* line 10, ../sass/components/_sections.scss */
.work .box__work {
  height: 200px;
  box-shadow: 0 10px 25px 0 rgba(49, 49, 93, 0.1);
  background-color: #ffffff;
  border-radius: 5px; }

/* line 18, ../sass/components/_sections.scss */
.false-back {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 60px;
  background-color: #FCB02F; }

/* line 26, ../sass/components/_sections.scss */
.body-t-c {
  background-color: #FCB02F; }
